.preguntas{
    background-color: rgb(255, 152, 52);
}

form{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

button.btn-primary{
    background-color: rgb(165,0,0); 
    border-color: rgb(165,0,0);
    border-radius: 5px;
    width: 90px;
}

button.btn-primary:hover{
    background-color: rgb(165,0,0); 
    border-color: rgb(165,0,0);
}

#img{
    display: none;
    position: absolute;
    top: 40%;
    left: 62%;
}

textarea{
    border-radius: 5px;
}

input{
    border-radius: 5px;
}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width:320px) {
    form {
    padding: 10%;
    width: 100%;
    }

    #img{
        display: none;
    }
}

@media (min-width:720px) {
    form {
    padding: 10%;
    width: 70%;
    }

    #img{
    width: 40%;
    display: block;
    }
}

@media (min-width:990px) {
    form {
    padding: 10%;
    width: 70%;
    }

    #img{
    width: 40%;
    display: block;
    }
}
