* {
    list-style: none;
}
body {
    background-color: rgba(255, 150, 50);
}
#estilocontact{
    border: 1px solid white;
}
.container{
    text-align: center;
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 70%;

}
.social{
    background-image: url(contactImage.jpg);
    background-size: cover;
    width: 100%;
    height: 50%;
}
h4{
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 60%;
    margin-right: 5%;
    padding: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(255, 150, 50, 0.5);
    line-height: 50%;
    color: rgb(165,0,0);
}
.icons{
    background-color: rgba(255, 150, 50);
    width: 100%;
    padding: 3%;
    color: rgb(165,0,0);
}
.fab, .fas{
    color: white;
    padding: 0%;
    margin: 0%;
    font-size: rgb(165,0,0);
}
.map{
    width: 50%;
}
.contact{
    height: 20%;
    color: rgb(165,0,0);
}
.adress{
    width: 50%;
    background-color: rgba(255, 150, 50);
    color: rgb(165,0,0);
}
h5{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: grey;
    line-height: 50%;
    color: rgb(165,0,0);
}
div#contacto.container-fluid.py-3{
    bottom: 0;
    position: inherit;
}


