.form-group{
    margin-right: 30px;
}

#registro{
    font-weight: bold;
    padding: 5% 15% 7% 15%;
    margin: 0;
    background-color: rgb(255, 152  , 52);
      
}

button.btn-primary{
    margin-left: 20px; 
    background-color: rgb(165,0,0); 
    border-color: rgb(165,0,0);
    border-radius: 5px;
}

button.btn-primary:hover{
    background-color: rgb(165,0,0); 
    border-color: rgb(165,0,0);
}
input#usuario.form-control {
    width: 100%;
}
#imagenDePerfil{
    padding-bottom: 5%;
}