body{
    background-color: rgb(255,150,50)!important;
}

#color{
    color: black;
}

.card{
    background-color: rgb(255,150,50);
    margin: 5% 0%;
    width: 75%;
    border: none;
    display: flex;
}

.card-header{
    width: 35%;
    background-color: rgba(255,150,50,1);
    border: none;
    display: flex;
}

div#contacto.container-fluid.py-3{
    bottom: 0;
    position: inherit;
}
