@media (min-width: 750px){
  
    .log-in{
        margin-top: 10%;
        
    }
    .a2 a{
        margin-left: 10%;
    }

    .container{
        margin:5%;
    }
    .letra{
        margin-left: 60px;
        font-size: 30px;
        margin-top: -135px;
    }
    .completar{
            width: 80%;
            padding: 15px;
            margin-bottom: 20px;
            margin-left:4%;
            margin-right:4%;
            margin-top: 35px;
            border: none;
            border-bottom: 1.2px solid rgb(163, 16, 16);;
            background:none;

    }

}
@media (min-width: 1400px){
    .log-in{
        width: 30%;
    }

}



