body{
    background-color: rgb(255,150,50)!important;
}

.barra{
    background-color: rgb(165,0,0);
    height: 45px;
}

.barra ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    list-style: none;
    position: relative;
    top: 22%;
}

.barra li{
    padding: 0% 1%;
}

.barra #border{
    border-right: 1px solid white;
}

.caja{
    width: 60%;
    position: absolute;
    left: 40%;
    top: 15%;
    display: flex;
}

#contra2{
    position: relative;
    bottom: 34%;
}

.form-group{
    display: inline-block;
    margin-right: 60px;
}

#registro{
    position: relative;
    width: 70%;
    opacity: 0.9;
    background-color: white;
}

#color{
    background-color: rgb(165,0,0);
    width: 20%;
    opacity: 0.85;
}

form{
    padding: 0px 5px;
}

h1{
    padding: 0px 5px;
}

a{
    text-decoration: none!important;
    color: white!important;
}